* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Grandstander', cursive;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Grandstander';
    src: url(fonts/Grandstander/static/Grandstander-Thin.ttf);
}

.header {
    height: 80px;
    background: rgba(0,0,0,0.25);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    transition: all .6s;
}

.header:hover {
    color: gray;
    background: rgba(0,0,0,0.7);
}

.logotype {
    height: 50px;
    width: 50px;
    filter: invert(48%) 
            sepia(13%) 
            saturate(10000%) 
            brightness(95%) 
            contrast(90%);
    transition: 1.5s;
    cursor: pointer;
}

.logotype:hover {
    height: 65px;
    width: 65px;
}

.dis-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    height: 100%;
}

.logo-link {
    color: #fff;
    font-size: 30px;
    letter-spacing: 3px;
}
.logo-link:hover {
    text-decoration: none;
    color: #fff;
}

.header-menu {
    width: 30%;
}

.menu-link {
    color:floralwhite;
    font-size: 20px;
    position: relative;
}
.menu-link:hover {
    text-decoration: none;
    color: #fff;
}

.menu-link::after {
    content: '';
    display: block;

    width: 0%;
    height: 2px;
    background-color: orange;
    position: absolute;
    bottom: 0;

    transition: 0.6s;
    right: 0;
}
.menu-link:hover::after {
    width: 100%;
}
.section {
    height: 100vh;
    padding-top: 80px;
}


/* HOME */
#home {
    background: url(https://images.unsplash.com/photo-1506202687253-52e1b29d3527?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-attachment: fixed;
}

.home-title {
    color: white;
    position: absolute;
    right: 5%;
    bottom: 30%;
    background: rgba(0,0,0,0.25);
    padding: 20px 60px;
    border-radius: 16px;
    cursor: pointer;
    transition: all .6s;

}
.home-title:hover {
    
    background: rgba(0,0,0,0.7);
}

.title {
    font-size: 60px;
}

.btn {
    background: orange;
    border-color: orange;
    color: white;
    transition: 1.5s;
}

.btn:hover {
    background: orangered;
    border-color: orangered;
    color: white;
}


/* ABOUT */
#about {
    background: url(https://images.unsplash.com/photo-1543123994-4f6e37abe100?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.section-box {
    margin: 5px;
    display: block;
    width: 40%;
    height: 60%;
    background-color: rgba(0,0,0,0.25);
    border-radius: 5%;
    transition: .6s;
}
.section-box:hover {
    width: 60%;
    height: 80%;
    background-color: rgba(0,0,0,0.7);
}


.section-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-title {
    margin-top: 20px;
    cursor: pointer;
    text-shadow: 100px green ;
}

section > div > div > div > p {
    font-size: 20px;
}
section > div > div > div > p > a {
    font-size: 20px;
    color:  orange;
}
section > div > div > div > p > a:hover {
    font-size: 20px;
    text-decoration: none;
    color:  orangered;
}

.about-text{
    margin: 5px;
    display: block;
}

#works {
    background: url(https://images.unsplash.com/photo-1542729610-051bac8a5ec1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1403&q=80);
    background-size: cover;
    background-attachment: fixed;
}

.git-photo {
    background: url(https://avatars3.githubusercontent.com/u/38349979?s=400&u=d06c94b078ab7f6cbcd0a85fdcf2a1f03ff3b92d&v=4);
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: .7s;
    cursor: pointer;
}
.git-photo:hover {
    height: 150px;
    width: 150px;
}


.git-container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 15%;
    width: 40%;
    background: rgba(0,0,0,0.25);
    border-radius: 2%;
    transition: .7s;
}
.git-container:hover {
    height: 20%;
    width: 45%;
    background: rgba(0,0,0,0.7);
}

.git-link {
    color: orange;
    font-size: 30px;
    transition:  .7s;
}
.git-link:hover {
    font-size: 40px;
    color: orangered;
    text-decoration: none;  
}

#contact {
    background: url(https://images.unsplash.com/photo-1505235687559-28b5f54645b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80);
    background-size: cover;
    background-attachment: fixed;
}